.card {
    padding: 10px;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;

}
.card_title {
    font-weight: bold;
}
.card_body {
    margin-top: 10px;
}
.card_title img {
    width: 100px;   
}
.card_body ul {
    list-style-type: none;
    padding: 0;
}
